

  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><%= link_to 'Red', :controller => 'colors', :action => 'show', id: 1 %></li>
    <li class="nav-item"><%= link_to 'Orenge', :controller => 'colors', :action => 'show', id: 2 %></li>
    <li class="nav-item"><%= link_to 'Yellow', :controller => 'colors', :action => 'show', id: 3 %></li>
    <li class="nav-item"><%= link_to 'Green', :controller => 'colors', :action => 'show', id: 4 %></li>
    <li class="nav-item"><%= link_to 'Blue', :controller => 'colors', :action => 'show', id: 5 %></li>
    <li class="nav-item"><%= link_to 'Purple', :controller => 'colors', :action => 'show', id: 6 %></li>
    <li class="nav-item"><%= link_to 'Wite', :controller => 'colors', :action => 'show', id: 7 %></li>
    <li class="nav-item"><%= link_to 'Black', :controller => 'colors', :action => 'show', id: 8 %></li>
  </ul>
</nav>